<!DOCTYPE html>

<html>
<head>
    <title>Photo upload</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <div class="container">
    <h1>Photo upload</h1>
    <p>You type it we post it photo edition.</p>
    <form ref='uploadForm' method='post' action='/photo' encType='multipart/form-data'>
        <div class="form-group">
            <label for='photo'>Upload your photo: </label><br />
            <input type='file' class='form-control-file' id='photo' name='photo' accept='image/*' value='' />
        </div>

        
        <br />
        <div class="g-recaptcha" data-sitekey="6LeTuzoUAAAAAF7uVIuLjsEZVEvehEnjoyBGL3FO"></div>
        
        <input type='submit' class='btn btn-primary' value='Upload' />

    </form>

    <p>&copy;tzhongyan, <a href='https://github.com/tzhongyan/photo-serve' target='_blank'>source code</a>.</p>
    </div>
</body>
</html>